/* Typography */

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	"Helvetica Neue", sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

body {
	background: linear-gradient(-45deg, #F8F400, #F8F400, #ff3c00, #ff0062, #9d00ff, #2bc7ff, #00ffc3, #00ffc3);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	"Helvetica Neue", sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 30px;
	margin: .5rem 0;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
}

@media (max-width: 551px) {
	main > .tagline { font-size: 1.8rem; }
  }

main > .subTagline {
	font-size: 22px;
	opacity: .7;
	text-transform: uppercase;
	color: white;
	font-weight: 500;
}

@media (max-width: 551px) {
	main > .subTagline { font-size: 1.7rem; }
  }

.main-logo {
    mix-blend-mode: overlay;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}